.header{
  background-color: #960909;
  height: 75vh;
}

.firstHeaderDiv{
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.imgDiv{    
  filter: drop-shadow(13px 14px 15px #222222);
}

.canImg{
  margin-top: 25px;
  height: 60vh;
  background-color: transparent;
  clip-path: polygon(8% -77%, 99% 16%, 65% 105%, -100% 83%);
}

.canImg:hover{
  transform: scale(105%);
  transition: all .5s;
}

.mainText{
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: flex-start;
  height: 60vh;
  padding-top: 50px;
}


.mainText *{
  animation-name: animateleft;
  animation-duration: 10s;
}

.downIcon{
  text-align: center;
  margin-top: 30px;
}

.downIcon *{
  color: white;
}

.info{
  color: gray;
  text-align: center;
  margin-top: 15px;
}

.companies{
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 150px;
  justify-content: space-around;
  align-items: center;
}

.overview{
  display: flex;
}

@keyframes animateleft{
  from{
    display: none;
  } 
  to{
    display: block;
  }
}
